* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 2px black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 8px 5px black;
}

h5{
    margin-top: 8px;
    text-align: right;
    width: 300px;
    font-size: x-small;
    color: lightsteelblue;
}

#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding-bottom: 25px;
    color: lightsteelblue;
}

.option{
    text-align: center;
}

table{
    margin: 25px;
    border: 6px solid white;
    width: 400px;
    height: 400px;
}

td.square{
    color: palevioletred;
    font-size: 0px;
    font-family: monospace;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 0px;
}

.apple{
    background-color: palevioletred;
}

.snake{
    background-color: lightgreen;
}

span{
    color: aqua;
    text-shadow: 5px 3px black;
    font-size: xx-large;
    padding: 5px;
}
    