* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    background-color: #222;
    color: white;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #gameBoard{
    border: 3px solid;
    background-color: red;
} */

#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option{
    text-align: center;
}


table{
    border: 5px solid;
    width: 500px;
    height: 500px;
}

tbody{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

tr {
    height: 25px;

}

td.square{
    color: palevioletred;
    font-size: 10px;
    font-family: monospace;
    text-align: center;
    width: 25px;
    height: 25px;
}

.apple{
    background-color: red;
}
    
/* td.square:nth-child(odd){
    background-color: aqua;
    }
td.square:nth-child(even) {
    background-color: blue;
    } */
    



/* #grid {
    border: 3px solid;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

/* #rows:nth-child(odd){
    background-color: palevioletred;
}

#rows {
    display: flex;
    flex-grow: 1;
    padding: auto;
}

#rows:nth-child(even){
    background-color: blueviolet;

}

#square{
    width: 25px;
    height: 25px;
}

#square:nth-child(odd){
    background-color: aqua;
    }
#square:nth-child(even) {
    background-color: blue;
    }
    
#square{
    width: 25px;
    height: 25px;
    background-color: red;
} */











/* section.container{
    display: flex;
    flex-grow: 1;

} */

/* .rowContainer (

) */
